{% extends 'sellerheader.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
</head>
<!-- body -->

<body class="main-layout">
    <!-- loader  --> 
    <!-- header -->

    <!-- end header -->
    <div class="brand_color">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="titlepage">
                        <h2>Change Password</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>

<center>    <!-- contact -->
    <div class="change password">
        <div class="container">
             <div class="row">
                <div class="col-md-12">
                    {% if msg %}
                         <b><p style="color:blue;">{{msg}}</p></b>
                    {% endif %}
                         <form name="Change password" method="POST" action="{% url 'sellerchange_password' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                       <table>
                            <tr>
                                <td>old password</td>
                                <td><input style="border-color: red" type="password" name="oldpassword"></td>
                            </tr>
                            <tr>
                                <td>new password</td>
                                <td><input style="border-color: red" type="password" name="newpassword"></td>
                            </tr>
                            <tr>
                                <td>confirm password</td>
                                <td><input  style="border-color: red" type="password" name="cnpassword"></td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center">
                                    <input style="border-color:blue;background-color: red;color: white" type="submit" name="action" value="Change password " class="btn ">
                                </td>
                            </tr>
                         </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end contact -->
</center>
    <!-- footer -->
    <div class="menu-bottom">
      <li> <a href="{% url 'sellerhome' %}"></a></li>
</div>
    <!-- end footer -->
    <!-- Javascript files-->
   <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'js/plugin.js' %}"></script>
    <!-- sidebar -->
    <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <!-- javascript -->
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="{% static 'https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });

            $(".zoom").hover(function() {

                $(this).addClass('transition');
            }, function() {

                $(this).removeClass('transition');
            });
        });
    </script>
</body>

</html>

{% endblock %}