{% extends 'sellerheader.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
</head>
<!-- body -->

<body class="main-layout">
    <!-- loader  --> 
    <!-- header -->

    <!-- end header -->
    <div class="brand_color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Update profile</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>

  <center>  <!-- contact -->
    <div class="Update Profile">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% if msg %}
                         <b><p style="color:blue;">{{msg}}</p></b>
                     {% endif %}
                  <form name="Signup" method="POST" action="{% url 'sellerprofile' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                                <table>
                                    <tr>
                                        <td>First Name</td>
                                        <td><input style="border-color: red" type="text" name="firstname" value="{{user.firstname}}"></td>
                                    </tr>
                                        <tr>
                                        <td>Last Name</td>
                                        <td><input  style="border-color: red" type="text" name="lastname" value="{{user.lastname}}"></td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td><input style="border-color: red" type="text" name="email" value="{{user.email}}"></td>
                                    </tr>
                                    <tr>
                                        <td>Mobile</td>
                                        <td><input style="border-color: red" type="text" name="mobile" value="{{user.mobile}}"></td>
                                    </tr>
                                    <tr>
                                        <td>Address</td>
                                        <td><textarea style="border-color: red" rows="5" cols="22" name="address">{{user.address}}</textarea></td>
                                    </tr>
                                    <tr>
                                        <td>Gender</td>
                                       {% if user.gender == "Male" %}
                                            <td>
                                                <input style="border-color: red"  type="radio" name="gender" value="Male" checked="" >Male &nbsp;&nbsp;&nbsp;
                                                <input style="border-color: red" type="radio" name="gender" value="Female">Female
                                            <td>
                                        {% elif user.gender == "Female" %}
                                            <td>
                                                <input style="border-color: red" type="radio" name="gender" value="Male" >Male&nbsp;&nbsp;&nbsp;
                                                <input style="border-color: red" type="radio" name="gender" value="Female" checked="">Female
                                            </td>
                                        {% else%}
                                             <td>
                                                  <input style="border-color: red"  type="radio" name="gender" value="Male" >Male &nbsp;&nbsp;&nbsp;

                                                     <input style="border-color: red"  type="radio" name="gender" value="Female">Female
                                             <td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td>Password</td>
                                        <td><input style="border-color: red" type="text" name="password" value="{{user.password}}"></td>
                                    </tr>
                                    <tr>
                                        <td>Confirm Password</td>
                                        <td><input style="border-color: red" type="text" name="cpassword" value="{{user.cpassword}}"></td>
                                    </tr>
                                    <tr>
                                        <tr>
                                            <td colspan="22" align="center">
                                                <img src="{{user.image.url}}" width="50px" height="50px">
                                        </tr>
                                        <td>Image</td>
                                        <td><input style="border-color: red" type="file" name="image"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" align="center">
                                            <input style="border-color: blue;color: white;background-color: red" type="submit" name="action" value="Update" class="btn ">
                                        </td>
                                        
                                    </tr>
                             </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
 </center>   <!-- end contact -->
  
    <!--
    Javascript files-->
   <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'js/plugin.js' %}"></script>
    <!-- sidebar -->
    <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <!-- javascript -->
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="{% static 'https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });

            $(".zoom").hover(function() {

                $(this).addClass('transition');
            }, function() {

                $(this).removeClass('transition');
            });
        });
    </script>
</body>

</html>

{% endblock %}