{% extends 'sellerheader.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
</head>
<!-- body -->

<body class="main-layout">
    <!-- loader  --> 
    <!-- header -->

    <!-- end header -->
    <div class="brand_color">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="titlepage">
                        <h2>Add Details</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>

   <center> <!-- contact -->
    <div class="change password">
        <div class="container">
             <div class="row">
                <div class="col-md-12">
                    {% if msg %}
                         <b><p style="color:blue;">{{msg}}</p></b>
                    {% endif %}
                         <form name="Add Details" method="POST" action="{% url 'seller_addetails' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                    <table>
                                        <tr>
                                           <td>Blood Bank</td>
                                           <td>
                                               <select name="blood_bank">
                                                <option>---Select Blood Bank---</option>
                                                <option value="Supratech Blood Bank,Thaltej">Supratech Blood Bank,Thaltej</option>
                                                <option value="Indian Blood Service , Ellisbridge">Indian Blood Service , Ellisbridge</option>
                                                   
                                               </select>
                                           </td>
                                       </tr>

                                        <tr>
                                            <td>Blood Group</td>
                                            <td><input style="border-color: red" type="text" name="blood_group"></td>
                                        </tr>

                                        <tr>
                                            <td>Blood Description</td>
                                            <td><textarea style="border-color: red" rows="5" cols="22" name="blood_description"></textarea></td>
                                        </tr>

                                        <tr>
                                            <td>Blood price</td>
                                            <td><input style="border-color: red" type="text" name="blood_price"></td>
                                        </tr>
                                        <tr>
                                            <td>Blood quantity</td>
                                            <td><input style="border-color: red" type="text" name="blood_quantity"></td>
                                        </tr>
                                        
                                        
                                        <tr>
                                            <td>Blood image</td>
                                            <td><input type="file" name="blood_image"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" align="center">
                                                <input style="border-color: blue;background-color: red;color: white" type="submit" name="action" value="Add  Details" class="btn_primary ">
                                            </td>
                                            
                                        </tr>
                                 </table>
                         </form>
                    </div>
                </div>
            </div>
        </div>
    ></center>    <!-- end contact -->

<div class="menu-bottom">
      <li> <a href="{% url 'sellerhome' %}">Home</a></li>
</div>
    <!-- end footer -->
    <!-- Javascript files-->
   <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'js/plugin.js' %}"></script>
    <!-- sidebar -->
    <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <!-- javascript -->
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="{% static 'https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });

            $(".zoom").hover(function() {

                $(this).addClass('transition');
            }, function() {

                $(this).removeClass('transition');
            });
        });
    </script>
</body>

</html>



{% endblock %}