{% extends 'sellerheader.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
</head>
<!-- body -->

<body class="main-layout">
    <!-- loader  --> 
    <!-- header -->

    <!-- end header -->
    <div class="brand_color">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="titlepage">
                        <h2>View Details</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>

   <center> <!-- contact -->
    <div class="View Details">
        <div class="container">
            <div class="row">
                {% for i in blood %}
                   <div id="box" class="col-sm-3" style="margin-top: 50px;">
                        <div class="container">
                            <div class="card" style="width:250px">
                                <img src="{{i.blood_image.url}}" class="card-img-top" width=100px height=200pxs>
                                    <div class="card-body">
                                        <b class="card-title">Blood group: {{i.blood_group}} </b>
                                        <b class="card-text">Blood price: {{i.blood_price}} </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<<br> <br> 
                                        <a style="border-color: blue;color: white;background-color: red" href="{% url 'seller_moredetails' pk=i.pk %}" class="btn btn-primary">More Details</a>
                                    </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </center>    <!-- end contact -->

   
     <div class="menu-bottom">
     <li> <a href="{% url 'sellerhome' %}">Home</a></li>
    </div>
               
    <!-- end footer -->
    <!-- Javascript files-->
   <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'js/plugin.js' %}"></script>
    <!-- sidebar -->
    <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <!-- javascript -->
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="{% static 'https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });

            $(".zoom").hover(function() {

                $(this).addClass('transition');
            }, function() {

                $(this).removeClass('transition');
            });
        });
    </script>
</body>

</html>



{% endblock %}